<!DOCTYPE html>
<html>
<head>
  <title>Solar Tracker</title>
  <link href="/static/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div id="main">
  <h1 id="title">Solar Tracker</h1>
  <div id="Update">
    <div class="w1">
    <p class="data_unit">Spanning</p><br>
    <p class="data_value">{{data1}}</p>
    </div>
  </div>
</div>
</body>
</html>

<script src="/static/main.js"></script>
